/****************
*  Main Layout  *
****************/

* {
	margin:0em;
	padding:0em;
}

html {
  height:100%;
}

body{
	background: url("/img/bg1.jpg") repeat;
	height:100%;
}

#container{
  background-color:#000000;
  position:relative;
  min-height:100%;
  width:1000px;
  margin:0px auto;;
}

#menu_wrap{
  background-color:#000000;
  padding:20px;
}

#main-title{
	text-align:center;
	margin:20px 0px 5px 0px;
	font-family: Copperplate, Verdana, Times New Roman;
	font-style:italic;
	font-size:60px;
	letter-spacing:3px;
	color:#A8B1B8;
}

#main-menu{
	color:#A8B1B8;
	margin:0px auto 50px auto;
	width:665px;
}

#main-menu ul{
	list-style:none;
}

#main-menu ul li {
	float:left;
	border-right:1px solid #00276E;
	border-left:1px solid #00276E;
	line-height:0px;
}

#main-menu ul li img{
	border:none;
}

#main-menu ul li a {
	text-decoration:none;
	font-weight:bold;
	font-size:18px;
	font-family:Arial;
	color:00276E;
}

#main-menu a:hover{
	color:#A8B1B8;
}

#footer{
  position:fixed;
  bottom:0px;
  background-color:#00276E;
  width:100%;
	height:15px;
	padding:10px 0px 20px 0px;
	color:#A8B1B8;
	font-family: Arial, Times New Roman;
	font-size:20px;
	z-index:1000;
}

#footer_content {
  margin:0px auto;
  width:1000px;
  text-align:center;
}

#dev_team_stamp{
}

#login_link {
  float:right;
  padding-right:20px;
}

.clear{clear:both;}

/*********
*  Home  *
*********/

#home_main_content {
  padding:50px 0px 20px 0px;
  background-color:#000000;
  padding:20px;
}

#main-page-video{
	float:left;
	margin:5px 10px 5px 0px;
	height:405px;
}

#charity-info{
	float:left;
	width:280px;
	font-family:Copperplate, Georgia, Arial, Times New Roman;
	font-size:30px;
	color:#FEB729;
}

#charity-info a{ color:#00276E;}

/*********
*  Store  *
*********/

#store_main_content {
  padding:50px 20px 20px 20px;
  background-color:#a8b1b8;
}

#product_menu, #item_display, #shopping_cart {
  float:left;
}

#product_menu {
  width:100px;
  margin:20px 0px;
  border-right:1px solid black;
}

#product_menu ul {
  list-style:none;
}

#product_menu ul li {
  margin:5px 0px;
}

#item_display {
  width:600px;
  margin:20px;
}

#shopping_cart {
  width:150px;
  margin-top:20px;
  border:1px solid black;
}

#shopping_cart.price {
  float:right;
}